$first-color: #08a6e4;
$second-color: #07ace6;
$third-color: #fb3b64;
$fourth-color: #eb476e;
$fifth-color: #55dfb4;

$main-shadow: #00000029;
$secondary-shadow: #07ace629;

$main-text-color: #000;
$light-text-color: #a5a5a5;
$legal-text-color: #707070;

$input-border-color: #95989a;

$main-background-color: #f7f7f7;
$secondary-background-color: #f7f7f7;
